@import url('https://fonts.googleapis.com/css?family=Inconsolata|Tangerine');

html, body {
  height: 100%;
  width: 100%;
  font-size: 1.25rem;
}

body {
  background: #efefef;
  color: #333;
  text-align: center;
  font-family: 'Inconsolata', "Courier New", "Courier", monospace;
}

a {
  color: #000;
}
a:hover,
a:focus {
  background: #333;
  color: #fff;
}
a.active {
  color: #666;
  text-decoration: none;
}
a.active:hover {
  color: #666;
  background: transparent;
}
sup a {
  text-decoration: none;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.info * {
  max-width: 80%;
}
.info ul {
  text-align: left;
  margin-left: 20%;
}
.info ul ul {
  margin-left: 2rem;
}

h1 {
  width: 100%;
  flex-basis: 100%;
  font-size: 1.75rem;
}

.tagline {
  width: 100%;
  flex-basis: 100%;
}

.logo {
  max-width: 80%;
}

hr.icon {
  box-sizing: content-box;
  height: 0;
  margin: 1rem auto;
  padding: 0 30vw;
  border: 0;
  border-top: 3px solid #333;
  text-align: center;
  overflow: visible;
}
hr.icon:after {
  /* f046 checked box, f0e7 lightning, f0f5 cutlery */
  /* see https://fontawesome.com/v4.7/cheatsheet/ */
  display: inline-block;
  position: relative;
  top: -1.7rem;
  padding: 0 1rem;
  font-family: FontAwesome;
  font-size: 3rem;
  background-color: #efefef;
}
hr.lightning:after {
  content: "\f0e7";
}
hr.checkbox:after {
  content: "\f046";
}
hr.xmas:after {
  content: "\f2dc";
}
hr.info:after {
  content: "\f05a";
}

header {
  margin-bottom: 1.5rem;
}
nav {
  display: flex;
  flex-basis: 100%;
  justify-content: center;
  align-items: center;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  display: inline-block;
  width: 40vw;
  margin: 0;
  padding: 0;
  flex: 50%;
  justify-content: space-between;
  line-height: 1.5;
}
nav ul li:nth-child(odd) {
  margin-right: 2rem;
  text-align: right;
}
nav ul li:nth-child(even) {
  margin-left: 2rem;
  text-align: left;
}
nav ul li a.active:before {
  content: "\2192\2002";
}
nav ul li a.active:after {
  content: "\2002\2190";
}

.recipe {
  display: flex;
  justify-content: center;
  align-items: center;
}

#zeitgeistText {
  display: inline-block;
  padding: 2rem 0;
  font-family: 'Tangerine';
  font-weight: bold;
  font-size: 5rem;
  color: #333;
  text-shadow: 0.5rem 0.5rem 0.5rem rgba(255,255,255,0.5);
  max-width: 80%;
}

button,
.button {
  font-size: 1.25rem;
  font-family: inherit;
  border-radius: 1.5rem;
  padding: 0.5rem 2rem;
  cursor: pointer;
  background: #000;
  color: #fff;
  margin: 0 1rem 2rem;
  position: relative;
  border: 3px solid #000;
  text-decoration: none;
}
button:before,
.button:before {
  content: " ";
  position: absolute;
  border-radius: 2rem;
  padding: 0.5rem 2rem;
  z-index: -1;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  border: 3px solid #000;
  background: #fff;
}
button:hover,
.buton:hover {
  color: #333;
  background: #fff;
}

#bingoCard {
  width: 80vw;
  margin: 1rem 10%;
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(5, 16vw);
  grid-template-rows: repeat(5, 16vw);
  grid-auto-flow: column;
}

#bingoCard div {
  border: 3px solid #333;
  height: 16vw;
  display: flex;
  cursor: pointer;
}

#bingoCard div span {
  margin: auto;
}

#bingoCard .checked {
  background: radial-gradient(circle 8vw, blue, #1e90ff 80%, rgb(255,255,255,0));
  color: #fff;
}

footer {
  font-size: 1rem;
  padding: 1rem 10vw;
  margin: 0 0 2rem;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {

  0%,
  100% {
    transform: rotate(0)
  }

  20%,
  60% {
    transform: rotate(-25deg)
  }

  40%,
  80% {
    transform: rotate(10deg)
  }
}

@media (max-width:500px) {
  .github-corner:hover .octo-arm {
    animation: none
  }

  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out
  }
}