@import url('https://fonts.googleapis.com/css?family=Inconsolata');

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-size: 1.25rem;
}

body {
  /* background: radial-gradient(circle at 33% 100%, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF); */
  background: #999;
  text-align: center;
  font-family: 'Inconsolata';
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

h1 {
   width: 100%;
   flex-basis: 100%;
}

.reels {
  display: flex;
  justify-content: center;
  align-items: center;
}

.zeitgeist {
  font-weight: bold;
  font-size: 5vmin;
  text-shadow: 1px 1px 5px rgba(0,0,0,0.5);
  fill: #fff;
}

#zeitgeistText {
  font-weight: bold;
  font-size: 5rem;
  color: #fff;
  text-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}

button.enpimperator {
  font-size: 1.5rem;
  border-radius: 1rem;
  padding: 0.5rem;
  cursor: pointer;
  background: #333;
  color: #fff;
  margin: 2rem;
}

button.enpimperator:hover {
  color: #333;
  background: #fff;
}

.credits {
  font-size: 1.2rem;
}